version: '3.8'

services:
  # --- INFRASTRUCTURE ---
  postgres:
    image: postgres:15-alpine
    container_name: tf-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports: ["5432:5432"]
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: tf-redis
    ports: ["6379:6379"]

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: tf-rabbitmq
    ports: ["5672:5672", "15672:15672"]
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: tf-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: tf-kafka
    depends_on: [zookeeper]
    ports: ["9092:9092"]
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data

  keycloak:
    image: quay.io/keycloak/keycloak:22.0.1
    container_name: tf-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      # Fix for Docker networking validation
      KC_HOSTNAME_URL: http://localhost:8180
    ports: ["8180:8080"]

  # --- MICROSERVICES ---

  discovery-service:
    build: ./discovery-service
    container_name: tf-discovery
    ports: ["8761:8761"]

  gateway-service:
    build: ./gateway-service
    container_name: tf-gateway
    ports: ["8080:8080"]
    depends_on: [discovery-service, keycloak]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://tf-discovery:8761/eureka/
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:8180/realms/ticketflash-realm
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://tf-keycloak:8080/realms/ticketflash-realm/protocol/openid-connect/certs

  inventory-service:
    build: ./inventory-service
    container_name: tf-inventory
    depends_on: [discovery-service, postgres, rabbitmq]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://tf-discovery:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:postgresql://tf-postgres:5432/admin
      - SPRING_RABBITMQ_HOST=tf-rabbitmq

  order-service:
    build: ./order-service
    container_name: tf-order
    depends_on: [discovery-service, postgres, rabbitmq]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://tf-discovery:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:postgresql://tf-postgres:5432/admin
      - SPRING_RABBITMQ_HOST=tf-rabbitmq

  analytics-service:
    build: ./analytics-service
    container_name: tf-analytics
    depends_on: [discovery-service, kafka]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://tf-discovery:8761/eureka/
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=tf-kafka:29092

  function-service:
    build: ./function-service
    container_name: tf-function
    depends_on: [discovery-service, rabbitmq]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://tf-discovery:8761/eureka/
      - SPRING_RABBITMQ_HOST=tf-rabbitmq
      - SPRING_DATASOURCE_URL=jdbc:postgresql://tf-postgres:5432/admin

  # --- MICRO FRONTENDS ---

  # The Host (Shell)
  ticketflash-shell:
    build: ./ticketflash-ui-shell
    container_name: tf-shell
    ports: ["4200:80"] # Mapped to localhost:4200
    depends_on: [gateway-service]

  # The Remote (Shop)
  ticketflash-shop:
    build: ./ticketflash-ui-shop
    container_name: tf-shop
    ports: ["4201:80"] # Mapped to localhost:4201
    depends_on: [gateway-service]

volumes:
  postgres_data:
  kafka_data:
